{% extends 'weather/base.html' %}

{% block content %}
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Введите название города</h1>

            <div class="form-floating col-6 text-center">
                <input type="text" class="form-control" id="floatingInput" placeholder="Город" name="city">
                <label for="floatingInput">Город</label>
            </div>

            <div class="col-6 mt-2">
                <button class="btn btn-primary w-100 py-2" type="submit">Отправить</button>
            </div>

        </form>
    </div>
    <div class="row m-lg-2">
    <h3>История запросов</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Город</th>
                <th scope="col">Широта</th>
                <th scope="col">Долгота</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'weather:detail' object.pk %}">{{ object.city }}</a></td>
                <td>{{ object.latitude }}</td>
                <td>{{ object.longitude }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
